<div className='row px-20 py-20'>
    <div className='md:w-full'>
    <div>
        <table style="height: 600px; width: 100%">
        <tr>
            <td style="text-align: center">
            <table width='100%'>
                <tr style="text-align: center">
                <td 
colSpan='3' style="text-align: center">
                    <table align='center'>
                    <tr>
                        <td align='center'>
                        Visa Number:
     
{{visa.number}}
                        </td>
                    </tr>
                    <tr>
                 
        <td align='right'>
          
               {{#if visa.number}}
                            <Barcode
                            value={
          
{{visa.number}}
                   
          }
                            {...barcodeConfig}
                      
       />
                        {{/if}}
          
               </td>
                    </tr>
                    <tr>
      
                   <td align='center'>
                    
    Visa Date:
                        {{#if visa.issueDate}}
                            {{formatDate visa.issueDate 'DD-MM-YYYY'}}
                        {{/if}}
                
         </td>
                    </tr>
                    </table>
                </td>
      
           </tr>
            </table>
       
      </td>
        </tr>

        <tr>
            <td>
            <table width='100%'>
                <tr>
         
        <td style="width: 20%">
                 
    <table
                    style="border: 1px solid black; width: 90px; height: 90px; float: left; text-align: Center; font-size: 9.5pt"
                    >
   
                  <tr>
                        <td>
                        صورة
         
                <br />
         
                Photos
                        </td>
                    </tr>
                
     </table>
                </td>
    
             <td style="width: 50%">
                    <div style="float: right">
                    <table width='50%'>
               
          <tr>
              
           <td>
                            <img
                            src='assets/images/logos/ksaVisaLogo.png'
           
                  alt=''
     
                        style="width: 150px"
                            />
                        
 </td>
                     
    </tr>
                    </table>
                    </div>
                </td>
                <td style="width: 30%">
                    
 <table
                    style="width: 300px; text-align: Center; float: right"
                    >
                    <tr>
                        <td>
                     
    <div
               
              style="float: right; font-size: 9.5pt">
                            <table
                            style="width: 100%; text-align: center"
                            >
              
               {/* <tr>
 
                                                                    <td> */}
                
             {/* <asp:Label ID="lblInternetNo" 
 runat="server" Font-Bold="true" fontSize="16pt}} ></asp:Label><br />
                                                                            <asp:Label ID="lbloldmofa" Visible="false"  
 runat="server" Font-Bold="true" fontSize="Medium" ></asp:Label> */}
          
                   {/* </td>
                                                                </tr> */}
  
              
              <tr>
                                <td
                                style="font-size: 9.5pt; font-weight: bold"
                                >
    
            
                  E{{mofa.mofaNo}}&nbsp;
 </td>
                            </tr>
                            <tr>
                                <td
            
 
                     style="font-size: 9.5pt; font-weight: bold"
                           >
                                سفارة المملكة العربية السعودية
                                </td>
     
   
                      </tr>
                            <tr>
                                <td
                
    
              style="font-size: 9.5pt; font-weight: bold"
                    >
                                القسم القنصلي
                                </td>
           
      
             </tr>
                            <tr>
                                <td
                      
       
     style="font-size: 9.5pt; font-weight: bold"
                           >
                                EMBASSY OF SAUDI ARABIA
                                </td>
               
         
      </tr>
                            <tr>
                                <td
                          
       style="font-size: 9.5pt; font-weight: bold"
    >
                                CONSULAR SECTION
                                </td>
                     
                        </tr>
    
                         </table>
                        </div>
                        </td>
                
     </tr>
        
             </table>
                </td>
                </tr>
            </table>
            <table
                width='100%'
   
              
 style="border: 0px solid #fff; border-collapse: collapse; font-size: 9.5pt"
                >
                <tr 
 style="border-bottom: 1px solid black">
         
        <td colSpan='3'>
                    <table width='100%'>
                    <tr>
                        <td
            
             style="text-align: left; font-size: 9.5pt"
                        >
     
                
    Full
                        name:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
 <b>
                            {{employee.name}} {{#if employee.gender}} {{#ifEquals (toLowerCase employee.gender) "female"}}D/O{{else}}S/O{{/ifEquals}} {{/if}} {{employee.fatherName}}
                        </b>
                        </td>
                
         <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                      
   :&nbsp;الاسم الكامل{' '}
                        </td>
                    </tr>
              
       </table>
                </td>
                
 </tr>
                <tr style="border-bottom: 1px solid black">
                <td colSpan='3'>
                    <table width='100%'>
 
                    <tr>
                    
     <td
                        style="text-align: left; font-size: 9.5pt"
                           >
                        Mother's name:&emsp;&emsp;
 {{employee.motherName}}
                        </td>
                        <td style="text-align: right">
                        :&nbsp;إسم الأم
                       
 
  </td>
                    </tr>
                    </table>
                </td>
                </tr>
                <tr style="border-bottom: 1px solid black">
    
 
            <td colSpan='3'>
                    <table width='100%'>
                    <tr>
                        <td
                     
   
  style="text-align: left; font-size: 9.5pt"
                        >
              
    
        Date of birth:&emsp;
 {{#if employee.dateOfBirth}}{{formatDate employee.dateOfBirth 'DD-MM-YYYY'}}{{/if}}
                        </td>
                        <td
      
                   style="text-align: left; font-size: 9.5pt"
                        >
                        :&nbsp;تاريخ الولادة&emsp;&emsp;Place of birth:
              
           </td>
                        <td
                        style="text-align: left; font-size: 9.5pt"
                        >
                   
      &emsp;
 <b>
                            {{employee.placeOfBirth}}
                        </b>
                        </td>
                  
      
  <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                        :&nbsp;محل الولادة
                        </td>
                    </tr>
                   
  </table>
  
               </td>
                </tr>
                <tr style="border-bottom: 1px solid black">
                <td colSpan='3'>
                    <table width='100%'>
       
   
            <tr>
                        <td
                        style="text-align: left; font-size: 9.5pt"
                        >
                        Previous nationality:&emsp;&emsp;BANGLADESHI
                        </td>
        
 
                 <td
                        style="text-align: left; font-size: 9.5pt"
 
                       >
                        :&nbsp;الجنسية السابقة&emsp;&emsp;Present
                        nationality:
                        </td>
    
  
                    <td
                        style="text-align: left; font-size: 12pt">
                        &emsp;&emsp;BANGLADESHI
                        </td>
  
   
                     <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                        :&nbsp;الجنسية الحالية
                        </td>
                    </tr>
 
     
                </table>
                </td>
                </tr>
                <tr style="border-bottom: 1px solid black">
                <td colSpan='3'>
         
      
       <table width='100%'>
                    <tr>
                        <td
                        style="text-align: left; font-size: 9.5pt; display: flex; height: 20px"
                        >
                        Sex:&emsp;&emsp;&emsp;
 <span
                            style="border: 1px solid; padding: 0px 3px"
                            >
                            {{#if employee.gender}}{{#ifEquals (toLowerCase employee.gender) "female"}}Female أنثي{{else}}Male ذكر{{/ifEquals}}{{/if}}
                        </span>
            
             
 </td>
                        <td
                        style="text-align: left; font-size: 9.5pt"
                        >
                        :&nbsp;الجنس&emsp;&emsp;Marital Status:
                        </td>
         
           
      <td
                        style="text-align: left; font-size: 9.5pt"
             >
                        &emsp;
 {{employee.maritalStatus}}
                        </td>
                        <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                        :&nbsp;الحالة الإجتماعية
                    
  
    </td>
                    </tr>
                    </table>
                </td>
                </tr>
                <tr style="border-bottom: 1px solid black">
 
   
              <td colSpan='3'>
                    <table width='100%'>
                    <tr>
                        <td
                  
    
    style="text-align: left; font-size: 12pt">
                        Sect.:&emsp;&emsp;
 </td>
                        <td
                        style="text-align: left; font-size: 9pt">
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;:&emsp;المـذهـب&emsp;&emsp;
 </td>
                        <td
                        style="text-align: left; font-size: 9.5pt"
                        >
                        &emsp;&emsp;Religion:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
 <b>{{employee.religion}}</b>
                        </td>
                        <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                        :&nbsp;الديـانـة
                     
  
   </td>
                    </tr>
                    </table>
                </td>
                </tr>
                <tr>
        
   
        <td style="text-align: right">:&nbsp;مصدرة</td>
                <td style="text-align: right">
                    :&nbsp;المؤهل العلمي
                </td>
                <td style="text-align: right; font-family: Arial">
       
     
          {/* <asp:Label ID="lblJobtitleArabic" Font-Bold="true" fontSize="11pt}} runat="server"  ></asp:Label> */}{' '}
                    <span style="color: white; font-size: 1px">
                    a
                    </span>
           
      
     {{unknown}} :&nbsp;المهنـة
                </td>
                </tr>
                <td colSpan='3'>
                <table width='100%'>
                    <tr style="border-bottom: 1px solid black">
   
                  <td style="text-align: left">
                        Place of issue:
                    </td>
                    <td style="text-align: left">
  
        
                Qualification:
                    </td>

                    <td
                        style="text-align: Center; font-family: Arial"
                        
                        colSpan='2'>
              
          
  Profession:&emsp;
 <b>
                        {{employee.professionName}}
                        </b>
                    </td>
                    </tr>
          
  
      </table>
                </td>
                <tr
                style="border-bottom: 1px solid black; border-top: 1px solid black"
                >
                <td style="text-align: left">
                    Home address and telephone No.:
                </td>
                <td style="text-align: left">{{employee.policeStationName}}, {{employee.targetCountryName}}</td>
   
              <td style="text-align: right">
                    :&nbsp;عنوان المنزل ورقم التلفون
                </td>
                </tr>

                <tr
         
   
      style="border-bottom: 1px solid black; border-top: 1px solid black"
                >
                <td colSpan='3'>
              
  
      <table width='100%'>
                    <tr>
                        <td
                        style="text-align: left; font-size: 9.5pt"
                        >
                        Business address and telephone No.:&emsp;
 <b>{{agency.nameArabic}} RL No- {{agency.rlNo}}</b>
                        </td>
                        <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                      
   :&nbsp;عنواان الشركة (المؤسسة) ورقم التلفون{' '}
            
             </td>
                    </tr>
                    </table>
                </td>
             
    </tr>
               
  <tr style="border-bottom: 1px solid black">
                <td
                    style="text-align: Center; font-weight: bold"
                    colSpan='3'>
              
       <b>{{agency.address}}</b>
           
      </td>
                </tr>
                <tr style="border-bottom: 1px solid black">
                <td colSpan='3'>
                    <table width='100%'>
  
                 
   <tr>
                        <td
                        style="text-align: left; width: 15%; font-size: 9.5pt"
                        >
                       
  Purpose of travel:
           
              </td>
                        <td
                        style="text-align: left; float: left; width: 9.5%; font-size: 9.5pt"
                        >
                        {/* <asp:Label ID="Label5" runat="server" Text="عمل&nbsp;<br/>Work" BorderStyle="Solid" BorderWidth="1px" Width="100%"></asp:Label> */}
                       
  <br />
         
                </td>
                        <td
                        style="text-align: left; float: left; width: 9.5%; font-size: 9.5pt"
                        >
                        {/* <asp:Label ID="Label6" runat="server" Text="مرور&nbsp;<br/>Transit" BorderStyle="Solid" BorderWidth="1px" Width="100%"></asp:Label> */}
                        
 <br />
       
                  </td>
                        <td
                        style="text-align: left; float: left; width: 9.5%; font-size: 9.5pt"
                        >
                        {/* <asp:Label ID="Label7" runat="server" Text="زيارة&nbsp;<br/>Visit" BorderStyle="Solid" BorderWidth="1px" Width="100%"></asp:Label> */}
                        <br 
 />
     
                    </td>
                        <td
                        style="text-align: left; float: left; width: 9.5%; font-size: 9.5pt"
                        >
                        {/* <asp:Label ID="Label8" runat="server" Text="عمـرة&nbsp;<br/>Umrah" BorderStyle="Solid" BorderWidth="1px" Width="100%"></asp:Label> */}
                        <br />
 
   
                      </td>
                        <td
                        style="text-align: left; float: left; width: 12%; font-size: 9.5pt"
                        >
                        {/* <asp:Label ID="Label9" runat="server" Text="للإقامة&nbsp;<br/>Residence" BorderStyle="Solid" BorderWidth="1px" Width="95%"></asp:Label> */}
                        <br />
  
 
                       </td>
                        <td
                        style="text-align: left; float: left; width: 9%; font-size: 9.5pt"
                        >
                        {/* <asp:Label ID="Label10" runat="server" Text="حــج&nbsp;<br/>Hajj" BorderStyle="Solid" BorderWidth="1px" Width="100%"></asp:Label> */}
                        <br 
 />
   
                      </td>
                        <td
                        style="text-align: left; float: left; width: 13%; font-size: 9.5pt"
                        >
                        {/* <asp:Label ID="Label11" runat="server" Text="دبلوماسية&nbsp;<br/>Diplomacy" BorderStyle="Solid" BorderWidth="1px" Width="95%"></asp:Label> */}
                       
 <br />
    
                     </td>
                        <td
                        style="text-align: right; width: 12%; font-size: 9.5pt"
                        >
             
         
    :&nbsp;الغاية من السفر
                        </td>
                    </tr>
                    </table>
                </td>
      
          
  </tr>

                <tr>
                <td colSpan='3'>
                    <table width='100%'>
                    <tr>
               
          <td
 
                        style="text-align: Center; font-size: 8pt"
                        >
                        Place of issue:&emsp;محل الإصدار
                        
 <br />
           
              <b style="font-size: 10pt">
                            {{employee.passportIssuePlace}}
                        </b>
                  
       </td>
                   
      <td
                        style="text-align: Center; font-size: 8pt"
                        >
                        &nbsp;&nbsp;Passport issued date:&nbsp;تاريخ
    
                     الإصدار
       
                  <br />
                        <b style="font-size: 10pt">
                          
   {{#if employee.passportIssueDate}}{{formatDate employee.passportIssueDate 'DD-MM-YYYY'}}{{/if}}
                        </b>
                    
     </td>
                        <td
                      
   style="text-align: Center; font-size: 8pt"
                        >
                        &nbsp;&nbsp;Date of passport's
        
                 expiry:&emsp;تاريخ إنتهاء صلاحية الجواز
                        <br />
    
                     <b style="font-size: 10pt">
                            
 {{#if employee.passportExpiryDate}}{{formatDate employee.passportExpiryDate 'DD-MM-YYYY'}}{{/if}}
                  
       </b>
                   
      </td>
                        <td
                        style="text-align: Center; font-size: 8pt"
                        >
                        Passport No.:&emsp;رقم الجواز
              
           <br />
            
             <b style="font-size: 10pt">
                            {{employee.passportNo}}
                        </b>
         
                </td>
       
              </tr>
                    </table>
                </td>
                </tr>
             
    <tr style="border-bottom: 1px solid black">
            
     <td colSpan='3' />
                </tr>
                <tr>
                <td style="text-align: right">
                    :&nbsp;مدة 
 الإقامة بالمملكة
                </td>
   
              <td style="text-align: right">
                    :&nbsp;تاريخ الوصول
                </td>
                <td style="text-align: right">
      
               :&nbsp;تاريخ المغادرة
    
             </td>
                </tr>
                <tr style="border-bottom: 1px solid black">
                <td style="text-align: left">
           
          Duration of stay in the Kingdom:&nbsp;&nbsp;2 Years
   
              </td>
                <td style="text-align: center">
                    Date of arrival:&nbsp;
 </td>
                <td style="text-align: center">
                    Date of departure:
                </td>
                </tr>
                <tr>
          
 
       <td colSpan='3'>
                    <table width='100%'>
                    <tr>
                        <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                    
   
   :&nbsp;تاريخ
                        </td>
                        <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                        &nbsp;( ) ايصال رقم
             
     
        </td>
                        <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                        :&nbsp;تاريخ
                        </td>
         
       
          <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                        &nbsp;( ) بشيك رقم
                        </td>
                        <td
  
         
               style="text-align: right; font-size: 9.5pt"
                      >
    
                     &nbsp;( ) نقداً
                        </td>
                        <td
                    
     style="text-align: right; font-size: 9.5pt"
                        >
             
            
 &nbsp;( ) مجاملة
                        </td>
                        <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                        :&nbsp;طريقة الدفع
      
              
      </td>
                    </tr>
                    </table>
                </td>
                </tr>
         
        <tr style="border-bottom: 1px solid black">
 
                <td colSpan='3'>
                    <table width='100%'>
                    <tr>
                        <td
    
                
      style="text-align: left; font-size: 9.5pt"
                        >
             
            Mode of Payment:
                        </td>
                        <td
                      
   style="text-align: left; font-size: 9.5pt"
                        >
               
          ( ) Free
       
                  </td>
                        <td
                        style="text-align: left; font-size: 9.5pt"
                        >
                        ( ) Cash
       
                  </td>
   
                      <td
                        style="text-align: left; font-size: 9.5pt"
                        >
                        ( ) Cheque No.
                        
 </td>
                      
   <td
                        style="text-align: left; font-size: 9.5pt"
                        >
                        Date:
                        </td>
                    
     <td
                    
     style="text-align: left; font-size: 9.5pt"
                        >
              
           ( )
                        </td>
                        <td
               
          style="text-align: left; font-size: 9.5pt"
                        >
        
                 No.
           
              </td>
                        <td
                        style="text-align: left; font-size: 9.5pt"
                        >
                        Date:
    
                     </td>
         
            </tr>
                    </table>
                </td>
                </tr>
       
          <tr>
                <td style="text-align: right">:&nbsp;صلتـه</td>
 
                <td style="text-align: right" colSpan='2'>
                    :&nbsp;إسم المحرم
                </td>
            
     </tr>
                <tr style="border-bottom: 1px solid black">
     
            <td style="text-align: left">Relationship:</td>
                <td style="text-align: left" colSpan='2'>
                    &nbsp;Name Of Mahram:
          
       </td>
                </tr>
          
       <tr style="border-bottom: 1px solid black">
                <td colSpan='3'>
                    <table width='100%'>
                 
    <tr>
                        <td
      
                   style="text-align: left; font-size: 9.5pt"
                        >
                        Destination:&emsp;&emsp;
 </td>
                        <td
                        style="text-align: left; font-size: 9.5pt"
                        >
                        :&nbsp;جهة الوصول بالمملكة&emsp;&emsp;Carrier's
                        name:&nbsp;&emsp;&emsp;
 </td>
                        <td
                        style="text-align: left; font-size: 9.5pt"
                        />
                       
 
  <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                        :&nbsp;اسم الشركة الناقلة
                        </td>
                    </tr>
                    </table>
 
   
              </td>
                </tr>
                <tr>
                <td style="text-align: left; font-size: 9pt">
                    Dependents traveling in the same passport:
     
    
         </td>

                <td style="text-align: right">
                    :إيضاحات تخص أفراد العائلة (المضافين) علي نفس جواز
                    السفر
                </td>
     
     
        </tr>
                <tr>
                <td colSpan='3'>
                    <table
                    width='100%'
               
      
 style="border-collapse: collapse; border: 1px solid black; font-size: 9.5pt"
                    >
   
                  <tr
                        style="text-align: Center; font-size: 9.5pt"
                        >
                        <td style="border: 1px solid black">
                        نوع الصلة&nbsp;
 <br />
                        Relationship
                        </td>
                        <td style="border: 1px solid black">
                     
 
    تــاريخ الميــلاد&nbsp;
                        <br />
                        Date of Birth
                        </td>
                        <td style="border: 1px solid black">
             
  
           الجنـــس&nbsp;
 <br />
                        Sex
                        </td>
                        <td style="border: 1px solid black">
                     
 
    الاسم بـالكــامل&nbsp;
                        <br />
                        Full name
                        </td>
                    </tr>

                    <tr
    
  
                    style="text-align: left; font-size: 9.5pt">
                        <td
                        style="border: 1px solid black; text-align: center"
                        >
                        />
                 
    
     <td style="border: 1px solid black">
                        &nbsp;
 </td>
                        <td style="border: 1px solid black">
                        &nbsp;
 </td>
                        <td style="border: 1px solid black">
                        &nbsp;
 </td>
                    </tr>

                    <tr
                        style="text-align: left; font-size: 9.5pt">
                        <td style="border: 1px solid black">
 
 
                        &nbsp;
 </td>
                        <td style="border: 1px solid black">
                        &nbsp;
 </td>
                        <td style="border: 1px solid black">
                        &nbsp;
 </td>
                        <td style="border: 1px solid black">
                        &nbsp;
 </td>
                    </tr>
                    <tr
                        style="text-align: left; font-size: 9.5pt">
                        <td style="border: 1px solid black">
 
 
                        &nbsp;
 </td>
                        <td style="border: 1px solid black">
                        &nbsp;
 </td>
                        <td style="border: 1px solid black">
                        &nbsp;
 </td>
                        <td style="border: 1px solid black">
                        &nbsp;
 </td>
                    </tr>
                    <tr
                        style="text-align: left; font-size: 9.5pt">
                        <td style="border: 1px solid black">
 
 
                        &nbsp;
 </td>
                        <td style="border: 1px solid black">
                        &nbsp;
 </td>
                        <td style="border: 1px solid black">
                        &nbsp;
 </td>
                        <td style="border: 1px solid black">
                        &nbsp;
 </td>
                    </tr>
                    </table>
                </td>
                </tr>
                <tr style="border-bottom: 1px solid black">
      
 
           <td colSpan='3'>
                    <table width='100%'>
                    <tr>
                        <td
                       
  
 style="text-align: left; font-size: 9.5pt"
                        >
                
   
       Name and address of company or individual in the
                        kingdom:
                        </td>
                        <td
           
    
           style="text-align: right; font-size: 9.5pt"
                        >
    
     
                 :&nbsp;اسم وعنوان الشركة أو اسم الشخص وعنوان
                        بالمملكة
                        </td>
                    </tr>
     
      
           </table>
                </td>
                </tr>
                <tr>
                <td colSpan='3'>
                   
  <table width='100%'>
    
                 <tr>
                        <td
                        style="text-align: left; font-size: 9.5pt"
                        >
                        The undersigned hereby certify that all the
                
         
 information I have provided are correct.
 </td>
                        <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                        .&nbsp;أنا الموقع أدناه أقر بأن كل المعلومات
                        التي دونها صحيصة
        
     
             </td>
                    </tr>
                    </table>
                </td>
                </tr>
            
    
  <tr>
                <td colSpan='3'>
                    <table width='100%'>
                    <tr>
                        <td
              
   
         style="text-align: left; font-size: 9.5pt"
                        >
        
  
               I will abide by the laws of the Kingdom during
                        the period of my residence in it.
 </td>
                        <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                        .&nbsp;وسأكون ملتزما بقوانين المملكة أثناء فترة
                        وجودي بها{' '}
              
  
          </td>
                    </tr>
                    </table>
                </td>
                </tr>

                <tr>
 
   
              <td colSpan='3'>
                    <table width='100%'>
                    <tr>
                        <td colSpan='3' style="text-align: left">
             
    
          Date:
                        </td>
                        <td colSpan='3' style="text-align: right">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;التاريخ
          
      
          </td>
                        <td
                        style="text-align: left; font-size: 9.5pt"
                        >
                        &emsp;&emsp;Signature:
                        </td>
      
        
            <td
                        style="text-align: Center; font-size: 9.5pt"
                        >
                        :&nbsp;التوقيع&emsp;Name:
                        </td>
                        <td
  
          
              style="text-align: left; font-size: 9.5pt"
                      >
     
                    &emsp;
 <b>
                            {{employee.name}}
                        </b>
                        </td>
                    
 
     <td
                        style="text-align: right; font-size: 9.5pt"
             
           }}>
                        :&nbsp;الاسم
                        </td>
                    </tr>
                    
 </table>
  
               </td>
                </tr>

                <tr>
                <td colSpan='3'>
                    <table width='100%'>
             
    
     <tr>
                        <td
                        style="text-align: left; font-size: 9.5pt; font-weight: bold"
                        >
                        <u>For official use only</u>
     
      
               </td>
                        <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                        <u>:&nbsp;للا ستعمال الرسمى فقط </u>
                     
    </td>
    
                 </tr>
                    </table>
                </td>
                </tr>
                <tr style="border-bottom: 1px solid black">
  
         
       <td style="text-align: left">
                    Date:&emsp;&emsp;&emsp;
 {{#if visa.issueDate}}{{formatDate visa.issueDate 'YYYY-MM-DD'}}H{{/if}}
                </td>
                <td style="text-align: left">
                    :&nbsp;تاريخه&emsp;&emsp;Authorization:&emsp;&emsp;&emsp;
 <b>{{visa.number}}</b>
                </td>
                <td style="text-align: right">
                    :&nbsp;رقم الامر المعتمد عليه في إعطاء التأشيرة
                </td>
                </tr>
      
 
           <tr style="border-bottom: 1px solid black">
                <td colSpan='3'>
                    <table width='100%'>
                    <tr>
                        <td
 
  
                       style="text-align: left; font-size: 9.5pt"
                  
   
     }}>
                        Visit/ Work for:
                        </td>
                        <td
                   
    
   style="text-align: Center; font-size: 9.5pt; font-family: Arial"
                      >
                        <span style="font-size: 13pt">
                            {{visaEntry.sponsorNameArabic}}
                        </span>
  
                 
      <span
                            style="color: white; font-size: 1px">
                            a
                
         </span>
          
               </td>
                        <td
                        style="text-align: right; font-size: 9.5pt; font-family: Arial"
                        >
       
                  &nbsp;&nbsp;:&nbsp;لزيارة – العمل 
 لدي
                        </td>
                    </tr>
                    </table>
               
  </td>
                </tr>
    
             <tr style="border-bottom: 1px solid black">
                <td style="text-align: left">
                    Date:&emsp;&emsp;&emsp;
 </td>
                <td style="text-align: left">
                    :&nbsp;وتاريخ&emsp;&emsp;Visa No.:&emsp;
 {{visaEntry.sponsorIdNo}}
                </td>
                <td style="text-align: right">
                    :&nbsp;أشر له برقم
                </td>
                </tr>
          
 
       <tr style="border-bottom: 1px solid black">
                <td colSpan='3'>
                    <table width='100%'>
                    <tr>
                        <td
     
  
                   style="text-align: left; font-size: 9.5pt"
                      >
                        FEE COLLECTED&emsp;&emsp;
 </td>
                        <td
                        style="text-align: left; font-size: 9.5pt"
                        >
                        المبلغ المحصل
                        </td>
                    
  
    <td
                        style="text-align: left; font-size: 9.5pt"
             
   
          }}>
                        Type:
                        </td>
                        <td
                
    
      style="text-align: right; font-size: 9.5pt"
                        >
         
     
            :&nbsp;نوعها
                        </td>
                        <td
                        style="text-align: left; font-size: 9.5pt"
                        >
                        &emsp;Duration:
     
       
              </td>
                        <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                        :&nbsp;مدتها
                        </td>
 
         
            </tr>
                    </table>
                </td>
                </tr>
                <tr>
            
     <td colSpan='3'>
    
                 <table width='100%'>
                    <tr>
                        <td
                        style="text-align: left; font-size: 9.5pt"
                        >
                      
   &emsp;&emsp;القنصل العام
        
                 </td>
                        <td
                        style="text-align: Center; font-size: 9.5pt"
                        >
                        &emsp;
 {/* <asp:Label ID="lblcarrier" Visible="true" Font-Bold="true" fontSize="12pt}}  runat="server"></asp:Label> */}
                        </td>

                        <td
                        style="text-align: right; font-size: 9.5pt"
                        >
                        &nbsp;مـدقق البيانات
            
  
            </td>
                    </tr>
                    </table>
                </td>
                </tr>
               
  <tr>
 
                <td colSpan='3'>
                    <table width='100%'>
                    <tr>
                        <td
                
    
      style="text-align: left; font-size: 9.5pt; width: 20%"
                        >
                        &emsp;Consul General
                        </td>
                        <td
      
      
              align='right'
                        style="width: 70%"
                        className='ppBrcodeWraper'>
                        {{#if employee.passportNo}}
     
                        <Barcode
                            value={
                                {{employee.passportNo}}
                 
      
       }
                            {...barcodeConfig2}
                            />
                        {{/if}}
        
       
           </td>
                        <td
                        style="text-align: right; font-size: 9.5pt; width: 20%"
                        >
                       
  Checked by:
      
                   </td>
                    </tr>
                    <tr>
                        <td colSpan='3' align='center'>
       
          
          &emsp;
 &emsp;
 {/* <asp:Label ID="lblVisapassportno"   runat="server"></asp:Label> */}
                        </td>
                    </tr>
                    </table>
                </td>
             
  
   </tr>
            </table>
            </td>
        </tr>
        </table>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
  
   
     <br />

        <div style="display: block">
        {/* <asp:GridView ID="GridView2" Visible="false" runat="server" DataKeyNames="copil_name,visa_no,visa_iss_date,passenger_name,passenger_pp_no,passenger_pp_exp_date,job_title,religion,destination,comment"></asp:GridView> */}
        </div>
        <div
        style="background-image: url(../Form/padairtrade1.jpg) !important; width: 100%; height: 1080px; background-repeat: no-repeat; margin-bottom: 50px"
        >
        <table width='100%' style="margin-top: 100px">
            <tr>
            <td valign='top' align='center'>
                <table width='93%'>
           
     
 <tr>
                    <td
                    className='auto-style1'
                    align='justify'
                    style="padding-bottom: 50px"
                    >
            
     
     To,
                    <br />
                    <br />
                    HIS EXCLLENCY THE CHIEF OF CONSULATE SECTION
                    <br />
  
      
              THE ROYAL EMBASSY OF SAUDI ARABIA
                    <br />
                    GULSHAN, DHAKA, BANGLADESH
                    <br />
            
       
   <br />
                    <br />
                    EXCELLENCY,
                    <br />
                    <br />
       
        
       WITH DUE RESPECT WE ARE SUBMITTING ONE PASSPORT FOR
                    WORK VISA WITH ALL NECESSARY DOCUMENT AND
                    PARTICULARS MENTIONED AS BELOW, KNOWING ALL
                    INSTRUCTIONS AND REGULATIONS OF THE CONSULATE
  
         
           SECTION:
                    <br />
                    <br />
                    </td>
                </tr>
   
          
     <tr>
                    <td>
                    <table
                        style="text-align: Center; font-weight: normal; border-collapse: collapse; width: 100%"
                        >
        
                 <tr>
                        <td valign='top' className='auto-style2'>
                            1.
                  
       </td>
      
                   <td
                            valign='top'
                            align='left'
             
              
   className='auto-style3'>
                            NAME OF THE EMPLOYER IN SAUDI ARABIA
                        </td>
                        <td
  
               
             valign='top'
                            align='left'
                            className='auto-style3 font-bold	'
                
             style="width: 55%"
                            >
                            :&nbsp;&nbsp;
 {{visaEntry.sponsorNameArabic}}
            
             </td>
                        </tr>
                        <tr>
                        <td className='auto-style2'>&nbsp;</td>
  
              
          <td align='left' className='auto-style3'>
                            &nbsp;
 </td>
                        <td
                            align='left'
                            className='auto-style3'
                    
 
         style="width: 55%"
                            >
                            &nbsp;&nbsp;
 </td>
                        </tr>
                        <tr>
                        <td style="width: 5%">2.</td>
                        
 
 <td align='left'>VISA NO. AND DATE</td>
                        <td align='left' className='font-bold'>
                            :&nbsp;&nbsp;
 {{visa.number}}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DATE:
                            &nbsp;
 {{#if visa.issueDate}}{{formatDate visa.issueDate 'YYYY-MM-DD'}}{{/if}}
                  
           &nbsp;H
                        </td>
                        </tr>
                    
     <tr>
                  
       <td className='auto-style2'>&nbsp;</td>
                        <td align='left' className='auto-style3'>
                            &nbsp;
 </td>
                        <td
                            align='left'
                            className='auto-style3'
                    
 
         style="width: 55%"
                            >
                            &nbsp;&nbsp;
 </td>
                        </tr>
                        <tr>
                        <td className='auto-style2'>3.</td>
                        <td align='left' className='auto-style3'>
 
 
                            FULL NAME OF THE EMPLOYEE
                        </td>
                        <td
                    
  
        align='left'
                            className='auto-style3 font-bold	'>
                            :&nbsp;&nbsp;
 {{employee.name}}
                        </td>
                        </tr>
                        <tr>
                        <td className='auto-style2'>&nbsp;</td>
   
 
                      <td align='left' className='auto-style3'>
                            &nbsp;
 </td>
                        <td
                            align='left'
                            className='auto-style3'
                    
 
         style="width: 55%"
                            >
                            &nbsp;&nbsp;
 </td>
                        </tr>

                        <tr>
                        <td style="width: 5%">4.</td>
                        
 
 <td align='left'>PASSPORT NO. WITH DATE</td>
                        <td align='left' className='font-bold'>
                            :&nbsp;&nbsp;
 {{employee.passportNo}}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 DATE:
                            &nbsp;
 {{#if employee.passportExpiryDate}}{{formatDate employee.passportExpiryDate 'DD-MM-YYYY'}}{{/if}}
                  
       </td>
                        </tr>
                        <tr>
                        
 <td className='auto-style2'>&nbsp;</td>
                     
    <td align='left' className='auto-style3'>
                            &nbsp;
 </td>
                        <td
                            align='left'
                            className='auto-style3'
                    
 
         style="width: 55%"
                            >
                            &nbsp;&nbsp;
 </td>
                        </tr>
                        <tr>
                        <td style="width: 5%">5.</td>
                        
 
 <td align='left'>PROFESSION</td>
                        <td align='left' className='font-bold'>
                            :&nbsp;&nbsp;
 {{employee.professionName}}
                        </td>
                        </tr>
                        <tr>
                        <td className='auto-style2'>&nbsp;</td>
   
 
                      <td align='left' className='auto-style3'>
                            &nbsp;
 </td>
                        <td
                            align='left'
                            className='auto-style3'
                    
 
         style="width: 55%"
                            >
                            &nbsp;&nbsp;
 </td>
                        </tr>
                        <tr>
                        <td style="width: 5%">6.</td>
                        
 
 <td align='left'>RELIGION</td>
                        <td align='left' className='font-bold'>
                            :&nbsp;&nbsp;
 {{employee.religion}}
                        </td>
                        </tr>
                    </table>
                    </td>
            
 
     </tr>
                <tr>
                    <td align='justify'>
                    <br />
                    WE DO HEREBY CONFIRM AND DECLARE THAT THE RELIGION
         
  
           STATED IN THE VISA FORM AND FORWARDING LETTER IS
                    FULLY CORRECT.
 WE ALSO DO GIVEN THE UNDERTAKEN WITH
                    OUR OWN RESPONSIBILTY TO CANCEL THE VISA AND TO STOP
                    FUNCTIONING&nbsp;
 WITH OUR OFFICE, IF THE STATEMENT
                    IS FOUND INCORRECT.
 <br />
                    <br />
                    WE, THEREFORE REQUEST YOUR EXCELLENCY TO KINDLY
                    ISSUE WORK VISA OUT OF ....... VISA AND OBLIGE THERE
                    BY.
 <br />
                    <br />
                    <br />
                    <br />
                    <br />
               
 
      <br />
                    SL.
 NO..............&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;YOUR
                    FAITHFULLY,
                    </td>
                </tr>
                </table>
            </td>
            </tr>
    
 
     </table>
        </div>
        <div className='col-sm-4'>
        {/* <asp:SqlDataSource ID="SqlPassMedical" runat="server" ConnectionString="<%$ ConnectionStrings:travelConnectionString %>" ProviderName="<%$ ConnectionStrings:travelConnectionString.ProviderName %>" SelectCommand="SELECT UPPER(tbl_visa_details.copil_name) AS copil_name, UPPER(tbl_country.country_name) AS sector_name_country, UPPER(tbl_passenger_details.passenger_name) AS passenger_name, UPPER(tbl_passenger_pp_details.passenger_pp_no) AS passenger_pp_no, UPPER(tbl_visa_details.destination) AS visa_comment, UPPER(tbl_visa_details.group_name) AS job_title FROM tbl_passenger_details INNER JOIN tbl_passenger_pp_details ON tbl_passenger_details.passenger_id = tbl_passenger_pp_details.passenger_id INNER JOIN tbl_visa_details ON tbl_passenger_details.passenger_id = tbl_visa_details.passenger_id INNER JOIN tbl_country ON tbl_passenger_details.country_id = tbl_country.country_id WHERE (CONVERT (varchar(50), tbl_passenger_details.passenger_id) = @search) OR (tbl_passenger_pp_details.passenger_pp_no = @search)">
         
  
       <SelectParameters>
                    <asp:ControlParameter ControlID="txtPassportJobID" Name="search" PropertyName="Text" />
                </SelectParameters>
            </asp:SqlDataSource> */}
        </div>

        <table width='100%' className='print:mt-100'>
        <tr>
            <td 
 valign='top' align='center'>
 
            <table width='95%'>
                <tr>
                <td
                    style="font-weight: bold; font-size: large; text-align: center; padding-top: 100px"
                    >
                    <h3>
        
     
         <u>EMPLOYEMENT AGREEMENT</u>
                    </h3>
                    <br />
                </td>
                </tr>

             
    <tr>
  
               <td
                    style="font-weight: bold; font-size: small; text-align: center"
                />
                </tr>
                <tr>
                <td align='left'>
           
        
   <table width='95%'>
                    <tr>
                        <td>NAME OF COMPANY: M/S</td>
                        <td className='font-bold'>
                 
        :&nbsp;
 {{visaEntry.sponsorNameArabic}}
                    
     </td>
                    </tr>

                    <tr>
                        <td>HERE BY APPOINTED MR/MRS</td>
                        <td className='font-bold'>
    
                     :&nbsp;
 {{employee.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>HOLDER OF BANGLADESH PASSPORT NO</td>
        
 
                 <td className='font-bold'>
                        :&nbsp;
 {{employee.passportNo}}
                        </td>
                    </tr>

                    <tr>
                        <td>
            
 
             AS A/AN &nbsp;&emsp;&emsp;
 <b>
                            {{job.profession}}
                        </b>
                        &nbsp;&nbsp;
 </td>
                        <td />
                    </tr>
                    </table>
                </td>
                </tr>
   
 
              <tr>
                <td>
                    <table
                    style="text-align: left; font-weight: normal; border-collapse: collapse; width: 100%"
                    >
         
   
          <tr>
                        <td colSpan='3'>
                        <u>
                            UNDER THE FOLLOWING TERMS.
 AND CONDITIONS{' '}
                        </u>
                        </td>
                    </tr>
                    <tr>
          
 
               <td style="width: 5%">1.</td>
                        <td>
                        MONTHLY SALARY
                        {/* <asp:Label ID="lblVisaComment" runat="server"></asp:Label> */}
    
  
                    &nbsp;to the 2nd party as his monthly salary to
                        serve him as a{' '}
                        <b>
                   
   
        {{job.profession}}
                        </b>
                        &nbsp;
 </td>
                        <td>:SR 1000/-</td>
                    </tr>
                    <tr>
                        <td style="width: 5%">2.</td>
       
 
                  <td>FOOD & ACCOMMODATION </td>
                        <td style="width: 40%">:FREE</td>
                    </tr>
                    <tr>
           
  
             <td style="width: 5%">3.</td>
                        <td>AIR PASSAGE </td>
                        <td>:BORNE BY THE EMPLOYER</td>
                    </tr>
         
   
          <tr>
                        <td style="width: 5%">4.</td>
                        <td>DUTY HOURS</td>
                        <td>:8 HOURS DAILY.</td>
         
    
         </tr>
                    <tr>
                        <td style="width: 5%">5.</td>
                        <td>HOLIDAY </td>
               
     
      <td>:AS PER SAUDI LABOUR LAWS.</td>
                    </tr>
                    <tr>
                        <td style="width: 5%">6.</td>
                  
      
  <td>LEAVE </td>
                        <td>:AS PER SAUDI LABOUR LAWS.</td>
                    </tr>
                    <tr>
                        
 <td style="width: 5%">7.</td>
  
                       <td>OVERTIME & OTHER BENEDIT</td>
                        <td>:AS PER SAUDI LABOUR LAWS.</td>
                    </tr>
                    
 <tr>
       
                  <td style="width: 5%">8.</td>
                        <td>MEDICAL FACILITIES</td>
                        <td>:FREE</td>
                    </tr>
  
         
           <tr>
                        <td style="width: 5%">9.</td>
                        <td>PERIOD OF CONTRACT </td>
                        <td>:TWO/THREE YEARS</td>
 
          
           </tr>
                    <tr>
                        <td style="width: 5%">10.</td>
                        <td>
        
           
       REPATRIATION ARRANGEMENT INCLUDING RETURN OF
                        DEAD & BODY SERVICE BENEFIT TO THE LEGAL HEIR OF
                        THE EMPOLYEE
                     
    </td>
        
                 <td>:RESPONSIBILITY OF THE EMPLOYER</td>
                    </tr>
                    <tr>
                        <td style="width: 5%">11.</td>
 
             
            <td>
                        OTHER TERMS & CONDITIONS NOT CONVERED BY THE
                        AGREEMENT{' '}
                    
    </td>
         
                <td>:AS PER SAUDI LABOUR LAW</td>
                    </tr>

                    <tr>
                        <td style="width: 5%">12.</td>
             
            <td>
                        The 1st party shall grant leave to the 2nd party
                        on usual holiday.
 </td>
                    </tr>
                    <tr>
                        <td style="width: 5%">13.</td>
                        <td>
        
 
                 The 2nd party shall observe the local Saudi Laws
                        and Traditions.
 </td>
                    </tr>
                    <tr>
                        <td style="width: 5%">14.</td>
                        <td>
        
 
                 The period of this Agreement is 2 (two) years
                        starting from signing the contact by the two
                        parties.
 </td>
                    </tr>
                    <tr>
                        <td style="width: 5%">15.</td>
                        <td>
        
 
                 Each party should have one copy of this contact
                        and if the two copies are found differnt have
                        the one who made change should be punnished
            
  
            according to the Saudi Laws.
 </td>
                    </tr>
                    <tr>
                        <td style="width: 5%">16.</td>
                        <td>
        
 
                 Regarding all other matters not covered by the
                        above provisions the Saudi Labour Laws and
                        standard rules of the Kingdom shall apply.
 </td>
                    </tr>
                    </table>
                </td>
                </tr>
                <tr>
            
 
     <td>&nbsp;</td>
                </tr>
                <tr>
                <td>&nbsp;</td>
                </tr>
                <tr>
               
  
 <td>&nbsp;</td>
                </tr>
                <tr>
                <td>
                    <table width='100%'>
                    <tr>
         
   
              <td>
                        <div
                            style="border-top: 2px solid #000; float: left"
                            >
                            SIGNATURE OF THE 1ST PARTY
           
     
          </div>
                        </td>
                        <td>
                        <div
              
      
          style="border-top: 2px solid #000; float: right"
                         >
   
                          SIGNATURE OF THE 2ND PARTY
                        </div>
                        </td>
                
     </tr>
   
                  </table>
                </td>
                </tr>
            </table>
            </td>
        </tr>
        </table>
   
      {/* 3rd Page 
   */}
        <h2 className='print:mt-40' style="margin-top: 300px">
        <center style="padding-top: 100px">
            إرفاق الجدول التالي في كل معاملة
        </center>
        </h2>
        <table
        style="width: 100%; border: 1px solid"
        cellSpacing='0'
 
        cellPadding='0'>
  
       <thead>
            <tr>
            <td style="border-right: 1px solid">
                <center>
                <b>
                    {' '}
  
           
         المالحظات
                    <br /> REMARK
                </b>
                </center>
            </td>
            <td style="border-right: 1px solid">
         
        <center>
                <b>
                    المنفذ
                    <br /> PORT
                </b>
       
          </center>
   
          </td>
            <td style="border-right: 1px solid">
                <center>
                <b>
                    {' '}
        
             المكتب
 
                    <br /> AGENCY{' '}
                </b>
                </center>
            </td>
            <td>
        
         <center>
      
           <b>
                    {' '}
                    االجراء
                    <br /> PROCEDURE{' '}
           
      </b>
          
       </center>
            </td>
            </tr>
        </thead>

        <tbody>
            <tr style="border-top: 1px solid">
            <td style="border-right: 1px solid; width: 22%">
  
               &nbsp;
 </td>
            <td style="border-right: 1px solid; width: 22%">
                &nbsp;
 </td>
            <td style="border-right: 1px solid; width: 22%">
                <center className='font-bold'>
                {' '}
                {{default mofa.mofaNo 'N/A'}}
                </center>
            </td>
 
            <td className='font-bold'>
                <center>Mofa No / إنجاز ر</center>
            </td>
      
       </tr>
            <tr style="border-top: 1px solid">
            <td style="border-right: 1px solid">&nbsp;</td>
         
    <td style="border-right: 1px solid">&nbsp;</td>
            <td
                style="border-right: 1px solid"
           
      className='font-bold'>
                <center>
                {' '}
          
       {{visa.number}}
                </center>
            </td>
            <td>
      
           <center>Visa No/ المستند رقم</center>
            </td>
            </tr>
          
   <tr style="border-top: 1px solid">
            <td style="border-right: 1px solid">&nbsp;</td>
            <td style="border-right: 1px solid">&nbsp;</td>
            
 <td
                style="border-right: 1px solid"
                className='font-bold'>
          
       <center>
                {' '}
                {{employee.name}}
               
  </center>
            </td>
            <td>
                <center>Passport Name / الجواز في االسم</center>
            </td>
            </tr>
            <tr style="border-top: 1px solid">
            <td 
 style="border-right: 1px solid">&nbsp;</td>
            <td style="border-right: 1px solid">&nbsp;</td>
            <td
           
      style="border-right: 1px solid"
                className='font-bold'>
                <center> {{employee.passportNo}}</center>
            </td>
  
           <td>
                <center>Passport No/ الجواز رقم</center>
            </td>
  
           </tr>
            <tr style="border-top: 1px solid">
            <td style="border-right: 1px solid">&nbsp;</td>
            <td 
 style="border-right: 1px solid">&nbsp;</td>
            <td
                style="border-right: 1px solid"
      
           className='font-bold'>
                <center>
                {' '}
               
  {{#if employee.passportExpiryDate}}{{formatDate employee.passportExpiryDate 'DD-MM-YYYY'}}{{/if}}
                </center>
            </td>
         
    <td>
                <center>Passport Validity/ الجواز صالحية</center>
            </td>
            </tr>
          
   <tr style="border-top: 1px solid">
            <td style="border-right: 1px solid">&nbsp;</td>
            <td style="border-right: 1px solid">&nbsp;</td>
  
           <td
                style="border-right: 1px solid"
                className='font-bold'>
           
       <center> 
           {{#if employee.dateOfBirth}}
               {{differenceInYears currentDate employee.dateOfBirth}} Years 
    
            {{modulo (differenceInMonths currentDate employee.dateOfBirth) 12}} Months 
               {{modulo (differenceInDays currentDate employee.dateOfBirth) 30}} Days
           {{/if}}
       </center>
            </td>
            <td>
                <center>Age/ العمر</center>
    
         </td>
            </tr>
         
    <tr style="border-top: 1px solid">
            <td style="border-right: 1px solid">&nbsp;</td>
            <td style="border-right: 1px solid">&nbsp;</td>
            <td
                
 style="border-right: 1px solid"
                className='font-bold'>
          
       <center> {{employee.gender}}</center>
            </td>
            <td>
                <center>Sex/ الجنس</center>
            </td>
         
    </tr>
            <tr style="border-top: 1px solid">
           
  <td style="border-right: 1px solid">&nbsp;</td>
            <td style="border-right: 1px solid">&nbsp;</td>
            <td
                style="border-right: 1px solid"
             
    className='font-bold'>
                <center>
             
    {' '}
                {{default musanedOkala.musanedStatus 'N/A'}}
                </center>
            </td>
            <td>
     
            <center>Musaned/ مساند</center>
            </td>
         
    </tr>
            <tr style="border-top: 1px solid">
            <td style="border-right: 1px solid">&nbsp;</td>
            <td style="border-right: 1px solid">&nbsp;</td>
            
 <td
                style="border-right: 1px solid"
              
   className='font-bold'>
                <center>
                {' '}
                {{default musanedOkala.okalaStatus 'N/A'}}
            
     </center>
            </td>
            <td>
                <center>Okalah/ الوكالة</center>
            </td>
         
    </tr>
            <tr style="border-top: 1px solid">
            <td 
 style="border-right: 1px solid">&nbsp;</td>
            <td style="border-right: 1px solid">&nbsp;</td>
            <td
                style="border-right: 1px solid"
              
   className='font-bold'>
                <center>
              
   {' '}
                {{default medical.medicalResult 'N/A'}}
                </center>
            </td>
            <td>
                <center>Medical/ طبي فحص</center>
            </td>
        
 
     </tr>
            <tr style="border-top: 1px solid">
            <td style="border-right: 1px solid">&nbsp;</td>
            <td style="border-right: 1px solid">&nbsp;</td>
            <td
                style="border-right: 1px solid"
             
 
    className='font-bold'>
                <center>
                {' '}
                {{default officeWork.policeClearanceNo 'N/A'}}
                </center>
            </td>
            <td>
     
            <center>Police Clearance/ الشرطة ورقة</center>
            </td>
       
      </tr>
            <tr style="border-top: 1px solid">
            <td style="border-right: 1px solid">&nbsp;</td>
            <td style="border-right: 1px solid">&nbsp;</td>
          
   <td
                style="border-right: 1px solid"
            
     className='font-bold'>
                <center>
                {' '}
                {{default officeWork.drivingLicenseNo 'N/A'}}
          
       </center>
            </td>
            <td>
                <center>License/ الرخصة</center>
            </td>
         
    </tr>
            <tr style="border-top: 1px solid">
           
  <td style="border-right: 1px solid">&nbsp;</td>
            <td style="border-right: 1px solid">&nbsp;</td>
            <td
                style="border-right: 1px solid"
              
   className='font-bold'>
                <center>
            
     {' '}
                {{default job.profession 'N/A'}}
                </center>
            </td>
            <td>
                <center>Profession/ المهنة</center>
            </td>
        
   
   </tr>
            <tr style="border-top: 1px solid">
            <td style="border-right: 1px solid">&nbsp;</td>
            <td style="border-right: 1px solid">&nbsp;</td>
            <td
                style="border-right: 1px solid"
            
    
  className='font-bold'>
                <center>
                {' '}
                {{default officeWork.certificateExperience 'N/A'}}
                </center>
            </td>
            <td>
    
             <center>
                Certificate & Experience/ المؤهل وشهادة الخبرة
 
                </center>
            </td>
            </tr>
            <tr style="border-top: 1px solid">
         
    <td style="border-right: 1px solid">&nbsp;</td>
            <td style="border-right: 1px solid">&nbsp;</td>
          
   <td
                style="border-right: 1px solid"
                className='font-bold'>
                <center>
          
       {' '}
                {{default officeWork.fingerNo 'N/A'}}
                </center>
            </td>
            <td>
                <center>Finger/ البصمة</center>
            </td>
 
     
        </tr>
        </tbody>
        </table>
        <br />
        <br />
        <br />
        <table align='right' style="margin-top: 20px">
        <tr>
            <td className='font-bold'>
            
 <b align='right'>
  
               {{agency.nameArabic}}
            </b>
            </td>
            <td>
            <b align='left'>: - إسم المكتب </b>
            </td>
        </tr>
        <tr>
  
   
         <td className='font-bold'>
            {{agency.rlNo}}
         
    </td>
            <td>
            <b align='left'>: رقم الرخصة</b>
            </td>
        </tr>
        <tr>
           
  <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
  
           <td>
            <b align='right' />
            </td>
            <td>
            <b align='left'>:الختم</b>
       
      </td>
        </tr>
        <tr>
           
  <td>
            <b align='right' />
            </td>
            <td>
            <b align='left'>:التوقيع</b>
            </td>
   
      </tr>
        </table>

        {/* </asp:Panel> */}
    </div>
    </div>
</div>
</div>